/venv
.vscode
appConfig.json
client_secret.json
firebase_secret.json
**/data_processor.log

/sparky_env
/.venv

**/__pycache__/
/qdrant_storage

Hello 
firebase_secret.json
appConfig.json
sparkyai-fff03-firebase-adminsdk-fbsvc-96a14cb0bd.json
sample_firebase_secret.json
