transformers
google-generativeai
google-genai
langchain
langchain-huggingface
langchain-qdrant
huggingface_hub
langchain-community
qdrant-client
scikit-learn
numpy
chromadb
discord.py
requests
beautifulsoup4
aiohttp
tenacity
ipywidgets
pytest
asyncio
nest_asyncio
selenium
webdriver-manager
PyNaCl
unidecode
html2text
html2markdown
sentence-transformers
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
google-cloud-firestore
firebase_admin
nltk

